.cpu,
.usr {
  max-width: 280px;
  background-color: white;
  border-radius: 15px;
  margin-top: 3%;
  height: 242px;
  margin-right: 20%;


}


.sci,
.roc,
.pap {
  max-width: 120px;
  background-color: white;
  border-radius: 25px;
  margin-top: 3%;
  border: solid 5px;
  border-color: black;

  margin-right: 10%;




}



.disp {
  padding-left: 23.5%;
  padding-top: 8%;
  float: centre;
}

.but {

  padding-left: 28%;
  float: centre;
}



.sci {
  height: 129px;

}

.roc {
  height: 129px;

}



.pap:hover {
  cursor: pointer;
}

.roc:hover {
  cursor: pointer;
}

.sci:hover {
  cursor: pointer;
}

table,
td,
th {
  border: solid;
  border-color: rgb(96, 96, 96);

}

.pt {
  padding-left: 1%;
  padding-top: 1%;
  float: right;

}

.bt {
  margin-left: 30%;
  padding: 1%;
  margin-top: 10px;
  width: 50%;
  height: 50%;
  background-color: #00c7fc;
  border: solid;
  border-color: #00a3d7;
  border-radius: 20%;
  color: white;
}

.bt:hover {
  cursor: pointer;
}


.prnt {
  padding-top: 5%;
  font-size: 40px;
  margin-left: 30%;
  margin-right: 30%;
  font-family: 'Times New Roman', Times, serif;
}


.bt:active {
  opacity: 0.5;
}

.pap:active {
  opacity: 0.5;
}

.roc:active {
  opacity: 0.5;
}

.sci:active {
  opacity: 0.5;
}

.shake {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}


@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }

  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }

  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }

  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }

  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }

  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }

  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }

  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }

  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }

  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }

  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
